
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
symfony
composer.lock
symfony.lock
/.idea
.idea
/src/Resources/config/parameters.yml
###< symfony/framework-bundle ###
